.cta {
  background-color: var(--color-6);
  padding: 0;
  width: 100%;
}

.cta__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 68px;
  padding: 78px 44px;
}

.cta__btn {
  background-color: transparent;
  border: 2px solid var(--color);
  text-transform: uppercase;
  font-family: var(--font3), sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: var(--color);
}

.cta h3 {
  color: var(--color);
  max-width: 852px;
  line-height: 146%;
}

.cta h3 span {
  font-weight: 400;
}
