.cta {
  background-color: var(--color-6);
  padding-bottom: 40px;
}

.cta__subtitle {
  margin-bottom: 24px;
  color: var(--color);
  line-height: 112%;
  font-size: 20px;
}

.cta__subtitle span {
  font-size: 16px;
  font-weight: 400;
}

.cta::before,
.cta::after {
  display: none;
}

.cta__btn {
  background-color: transparent;
  border: 2px solid var(--color);
  text-transform: uppercase;
  font-family: var(--font3), sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: var(--color);
}
