.feature {
  display: flex;
  position: relative;
  background-color: var(--color-6);
}

.feature::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 68px;
  background-color: var(--color-8);
  z-index: -1;
}

.feature__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 56px;
}

.feature__content,
.feature__content__reverse {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.content__list li:nth-child(2),
.content__list__reverse li:nth-child(2) {
  display: none;
}

.content__list li img,
.content__list__reverse li img {
  border-radius: 20px;
  overflow: hidden;
}

.feature__text h3,
.feature__text--reverse h3 {
  color: var(--color);
}

.feature__text,
.feature__text--reverse {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.feature__text p,
.feature__text--reverse p {
  color: var(--color);
}

.feature__btn {
  background-color: var(--color-4);
  border: 2px solid var(--color-4);
  padding: 12px 20px;
}

.feature__btn:hover {
  background-color: var(--color);
  color: var(--color-4);
}

@media screen and (min-width: 768px) {
  .feature__content {
    flex-direction: row;
  }

  .feature__content__reverse {
    flex-direction: row-reverse;
  }

  .content__list,
  .content__list__reverse {
    flex: 0 0 50%;
  }

  .feature__text,
  .feature__text--reverse {
    justify-content: center;
  }
}

@media screen and (min-width: 1480px) {
  .feature {
    padding-bottom: 0;
  }

  .feature__container {
    padding: 0 126px;
  }

  .feature__content,
  .feature__content__reverse {
    gap: 72px;
  }

  .feature__text {
    max-width: 600px;
  }

  .feature__text--reverse {
    max-width: 504px;
    align-items: end;
  }

  .content__list,
  .content__list__reverse {
    position: relative;
    flex: none;
    z-index: 30;
  }

  .content__list__reverse {
    align-items: end;
  }

  .content__list {
    margin-top: -104px;
  }

  .feature__text--reverse {
    padding-bottom: 40px;
    align-items: start;
  }

  .feature__text p,
  .feature__text--reverse p {
    margin-bottom: 40px;
  }

  .feature__btn {
    padding: 20px 24px;
  }

  .content__list li:nth-child(2),
  .content__list__reverse li:nth-child(2) {
    display: flex;
    position: absolute;
    z-index: -1;
  }

  .content__list li:nth-child(2) {
    top: 164px;
    left: -124px;
  }

  .content__list__reverse li:nth-child(2) {
    top: -24px;
    right: -184px;
  }

  .content__list__reverse li:nth-child(2) img {
    border-radius: 0;
  }
}
