/* .header {
  display: flex;
  height: 56px;
  width: 100%;
  background-color: var(--color-1);
  margin-top: 32px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  gap: 20px;
  border: 1px solid var(--color);
}*/

.header {
  height: 56px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__mark {
  fill: var(--color-6);
  margin-right: 12px;
}

.logo__text {
  fill: var(--color-6_1);
}

.nav {
  display: none;
}

.address {
  display: none;
}

.header__burger-menu {
  display: flex;
  position: relative;
}

.header__burger-menu,
.header__burger-menu::before,
.header__burger-menu::after {
  width: 32px;
  height: 3px;
  background-color: var(--color-6_1);
}

.header__burger-menu::before,
.header__burger-menu::after {
  content: "";
  position: absolute;
}

.header__burger-menu::before {
  top: 8px;
}

.header__burger-menu::after {
  bottom: 8px;
}

@media screen and (min-width: 1480px) {
  .logo {
    margin-right: 124px;
  }

  .nav {
    display: flex;
    font-family: var(--font3);
    font-weight: 500;
    font-size: 18px;
    margin-right: 15%;
  }

  .nav__list {
    display: flex;
    gap: 32px;
  }

  .address {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  .login-button {
    font-family: var(--font3);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    transition: all 0.3s ease-in-out;
  }

  .login-button:hover {
    color: var(--color-6_1);
    transform: scale(1.2);
  }

  .contact__start-btn {
    min-width: 172px;
    width: fit-content;
  }

  .header__burger-menu {
    display: none;
  }
}
