.header {
  display: flex;
  align-items: center;
  height: 56px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: baseline;
}

.logo__mark {
  fill: var(--color-6);
  margin-right: 12px;
}

.logo__text {
  fill: var(--color-6_1);
}

.nav {
  display: none;
}

.address {
  display: none;
}

.header__burger-menu {
  display: flex;
  position: relative;
  width: 44px;
}

.header__burger-menu,
.header__burger-menu::before,
.header__burger-menu::after {
  width: 32px;
  height: 3px;
  background-color: var(--color-6_1);
}

.header__burger-menu::before,
.header__burger-menu::after {
  content: "";
  position: absolute;
}

.header__burger-menu::before {
  top: 8px;
}

.header__burger-menu::after {
  bottom: 8px;
}
