h1 {
  margin-bottom: 28px;
  max-width: 320px;
}

.hero__description {
  font-family: var(--font3);
  color: var(--color-12);
  margin-bottom: 24px;
}

.hero__request__container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.hero__request__link {
  color: var(--color-6);
  font-weight: 700;
}

.hero__btn--start-today {
  background-color: var(--color-4);
  border: none;
}

.hero__image {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero {
    overflow: hidden;
    padding-bottom: 0;
  }

  .hero__container {
    display: flex;
    /* overflow: hidden; */
  }

  .hero__body {
    width: 50%;
    padding-right: 20px;
  }

  .hero__content__wrapper {
    flex: 0 0 100%;
  }

  .hero__image img {
    max-width: 100%;
    height: 100%;
  }

  .hero__image {
    display: flex;
    flex: 0 0 50%;
    transform: translateX(-100%);
    margin-top: -40px;
  }

  .hero__request__container {
    flex-direction: row;
  }

  .video-play {
    position: absolute;
    top: 30%;
    left: 30%;
  }
}

@media screen and (min-width: 1480px) {
  .hero__body {
    padding-right: 44px;
  }
}
