/*

.hero__container {
  max-width: 1520px;
  padding: 0 20px;
  margin: 0 auto;
  background-color: antiquewhite;
}

.hero__body {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.hero__description {
  margin-bottom: 32px;
}

.hero__description ~ div {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 18px;
}


.lightbox-button {
  background-color: var(--color-4);
  border-color: var(--color-4);
}

.hero__image img {
  max-width: 100%;
  margin-top: 84px;
}*/

.hero {
  margin-bottom: 40px;
}

h1 {
  font-size: 35px;
  line-height: 127%;
  margin-bottom: 28px;
  max-width: 320px;
}

.hero__description {
  font-family: var(--font3);
  font-weight: 400;
  font-size: 14px;
  line-height: 127%;
  color: var(--color-12);
  margin-bottom: 24px;
}

.hero__request__container {
  display: flex;
  gap: 12px;
  align-items: center;
}

.hero__request__link {
  color: var(--color-6);
  font-weight: 700;
}

.hero__btn--start-today {
  background-color: var(--color-4);
  border: none;
  margin-right: 12px;
}

.hero__image {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero {
    display: flex;
    overflow: hidden;
  }

  .hero__image {
    display: flex;
    position: relative;
    flex: 0 0 50%;
    transform: translateX(-100%);
  }

  .video-play {
    content: "";
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 35%;
    left: 41%;
    transform: translate(-80%, -50%);
    z-index: 1;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: rgba(90, 84, 242, 0.1);
  }

  .video-play::before {
    content: "";
    position: absolute;
    width: 168px;
    height: 168px;
    background-color: rgba(90, 84, 242, 1);
    border-radius: 50%;
    z-index: 2;
  }

  .video-play__btn {
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    color: #fff;
    fill: #fff;
    z-index: 3;
    padding-left: 12px;
    cursor: pointer;
    transition: all 0.9s ease;
  }

  .video-play__btn:hover {
    transform: scale(1.2);
    fill: gray;
  }

  .video-play__text {
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: center;
    z-index: 3;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    max-width: 82px;
  }
}

@media screen and (min-width: 1480px) {
  .hero {
    margin-bottom: 0;
  }

  .hero__content {
    flex: 0 0 100%;
    display: flex;
    align-items: center;
  }

  h1 {
    font-size: 85px;
    max-width: 818px;
  }

  .hero__description {
    font-size: 18px;
    line-height: 139%;
    max-width: 716px;
  }

  .hero__image {
    margin-top: 84px;
  }
}
