.reviews__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__list {
  display: none;
}

.reviews__container h2 {
  text-align: center;
}

.reviews__context {
  position: relative;
  display: flex;
  flex-direction: column;
}

.reviews__card,
.reviews__card--back,
.reviews__card--back2 {
  border-radius: 20px;
  box-shadow: var(--shadow-7);
  background-color: var(--color);
}

.reviews__card {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 320px;
  min-height: 196px;
  padding: 20px 8px;
  z-index: 10;
  isolation: isolate;
}

.reviews__card--back {
  position: absolute;
  content: "";
  z-index: 5;
  left: 16px;
  top: 56px;
  width: 312px;
  min-height: 160px;
}

.reviews__card--back2 {
  position: absolute;
  content: "";
  top: 108px;
  left: 36px;
  width: 300px;
  height: 132px;
  z-index: -1;
}

.reviews__card--arrow {
  display: flex;
  justify-content: end;
  gap: 28px;
  margin-top: 80px;
  padding-right: 88px;
  cursor: pointer;
}

.reviews__card--arrow svg {
  transition: all 0.4s ease-in-out;
}

.reviews__card--arrow svg:hover {
  fill: var(--color-4);
}

.reviews__card p {
  position: relative;
  z-index: 15;
  font-family: var(--font4), sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 128%;
  text-align: center;
  min-width: 280px;
}

.reviews__card svg {
  position: absolute;
  content: "";
  left: 50%;
  top: -12px;
  transform: translateX(-50%);
  z-index: -1;
  width: 164px;
}

@media screen and (min-width: 768px) {
  .reviews__card {
    max-width: 768px;
    padding: 100px 80px;
  }

  .reviews__card--back {
    left: 16px;
    top: 140px;
    width: 532px;
  }

  .reviews__card--back2 {
    left: 32px;
    top: 192px;
    width: 500px;
  }

  .reviews__card svg {
    top: 20px;
  }
}
