.solution {
  display: flex;
  padding-top: 0;
  margin-top: -60px;
}

.solution__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.solution__title {
  text-align: center;
  max-width: 832px;
  margin-bottom: 80px;
}

.solution__list {
  display: flex;
  gap: 68px;
  justify-content: center;
}

.solution__item {
  display: flex;
  flex-direction: column;
  max-width: 432px;
}

.solution__item:nth-child(2) {
  margin-top: 72px;
}

.solution__item:last-child {
  margin-top: 152px;
}

.solution__img {
  border-radius: 20px;
  margin-bottom: 40px;
  box-shadow: var(--shadow-1);
}

.solution__item h3 {
  margin-bottom: 36px;
}

.solution__item p {
  font-family: var(--font3), sans-serif;
  color: var(--color-2);
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  margin-bottom: 24px;
}

.solution__item a {
  font-family: var(--font3);
  font-weight: 700;
  font-size: 18px;
  line-height: 139%;
  color: var(--color-6);
  width: fit-content;
}

.solution__item a:hover {
  text-decoration: underline;
}

.solution__item a span {
  font-size: 20px;
}

/*  solution social small card  */

.solution__list--small {
  display: flex;
  position: relative;
}

.solution__list--small li {
  overflow: hidden;
  border-radius: 10px;
  min-width: 105px;
  box-shadow: var(--shadow-2);
}

.solution__list--small li:first-child {
  display: flex;
  position: absolute;
  top: -40px;
  left: 48px;
}

.solution__list--small li:last-child {
  display: flex;
  position: absolute;
  top: 20px;
  left: 288px;
}

.solution__list--small li:nth-child(2) {
  display: flex;
  position: absolute;
  top: 112px;
  left: 48px;
}

.solution__list--small li:nth-child(3) {
  display: flex;
  position: absolute;
  top: 250px;
  left: 152px;
}

.solution__list--small li:nth-child(4) {
  display: flex;
  position: absolute;
  top: 134px;
  left: 228px;
}

/*  solution small image on right */

.solution__img-small--right {
  display: flex;
  position: relative;
}

.solution__img-small--right li {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: var(--shadow-2);
}

.solution__img-small--right li:first-child {
  display: flex;
  position: absolute;
  top: -132px;
  left: 268px;
}

.solution__img-small--right li:nth-child(2) {
  display: flex;
  position: absolute;
  top: -28px;
  left: 32px;
}

.solution__img-small--right li:last-child {
  display: flex;
  position: absolute;
  top: 116px;
  left: 324px;
  min-width: 170px;
}
