.solution__title {
  text-align: center;
}

.solution__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.solution__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

picture img {
  border-radius: 20px;
}

.solution__item picture img {
  aspect-ratio: 320 / 218;
  object-fit: cover;
}

.solution__list--small {
  gap: 8px;
}

.solution__list--small li,
.solution__img-small--right li {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: var(--shadow-2);
}

.solution__img-small--right {
  gap: 8px;
  align-items: start;
}

.solution__btn {
  color: var(--color-6);
}

.curve__rotate {
  display: none;
}

@media screen and (min-width: 768px) {
  .solution {
    padding-top: 0;
    padding-bottom: 0;
  }

  .solution__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .solution__list {
    gap: 36px;
  }

  .solution__item {
    align-items: center;
    gap: 16px;
  }

  .solution__item h3 {
    max-width: 560px;
    text-align: center;
  }

  .solution__item:nth-child(2),
  .solution__item:last-child {
    position: relative;
  }

  .solution__list--small li:first-child,
  .solution__list--small li:last-child,
  .solution__list--small li:nth-child(2),
  .solution__list--small li:nth-child(3),
  .solution__list--small li:nth-child(4),
  .solution__img-small--right li:first-child,
  .solution__img-small--right li:nth-child(2),
  .solution__img-small--right li:last-child {
    position: absolute;
  }

  .solution__list--small li:first-child {
    top: 44px;
    left: 48px;
  }

  .solution__list--small li:last-child {
    top: 105px;
    right: 36px;
  }

  .solution__list--small li:nth-child(2) {
    top: 298px;
    left: 48px;
  }

  .solution__list--small li:nth-child(4) {
    top: 288px;
    right: 244px;
  }

  .solution__list--small li:nth-child(3) {
    top: 472px;
    left: 288px;
  }

  .solution__img-small--right li:first-child {
    top: -60px;
    right: 48px;
  }

  .solution__img-small--right li:nth-child(2) {
    top: -28px;
    left: 48px;
  }

  .solution__img-small--right li:last-child {
    top: 238px;
    right: -20px;
  }

  .solution__item picture {
    margin-bottom: 28px;
  }

  .solution__item picture img {
    aspect-ratio: 768 / 523;
    object-fit: cover;
  }

  .solution__btn {
    font-size: 18px;
    transition: all 0.3s ease-in-out;
  }
}

@media screen and (min-width: 1480px) {
  .solution {
    position: relative;
    z-index: 20;
    min-width: 100%;
  }

  .curve__rotate {
    display: flex;
    transform: rotate(180deg);
    margin-bottom: -119px;
    width: 100%;
    fill: var(--color);
  }

  .solution__title {
    max-width: 824px;
    margin-bottom: 80px;
  }

  .solution__list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 68px;
    margin-bottom: 80px;
  }

  .solution__item {
    max-width: 431px;
    width: calc((100% - 136px) / 3);
    align-items: start;
  }

  .solution__item picture {
    margin-bottom: 0;
  }

  .solution__item picture img {
    aspect-ratio: 430 / 293;
    object-fit: cover;
  }

  .solution__item:nth-child(2) {
    margin-top: 72px;
  }

  .solution__item:last-child {
    margin-top: 144px;
  }

  .solution__list--small li:first-child {
    top: -32px;
    left: 48px;
  }

  .solution__list--small li:last-child {
    top: 20px;
    right: 36px;
  }

  .solution__list--small li:nth-child(2) {
    top: 120px;
    left: 48px;
  }

  .solution__list--small li:nth-child(4) {
    top: 120px;
    right: 96px;
  }

  .solution__list--small li:nth-child(3) {
    top: 248px;
    left: 184px;
  }

  .solution__img-small--right li:first-child {
    top: -100px;
    right: 48px;
  }

  .solution__img-small--right li:last-child {
    top: 124px;
    right: -60px;
  }

  .solution__item h3 {
    text-align: start;
  }
}
