.solution__title {
  text-align: center;
}

.solution__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.solution__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: start;
}

picture img {
  border-radius: 20px;
}

.solution__list--small {
  gap: 8px;
}

.solution__list--small li,
.solution__img-small--right li {
  overflow: hidden;
  box-shadow: var(--shadow-2);
}

.solution__img-small--right {
  gap: 8px;
}

.solution__list--small li img,
.solution__img-small--right li img {
  border-radius: 10px;
}

.solution__btn {
  color: var(--color-6);
}
