@import url('./reset.css');
@import url('./font.css');
@import url('./root.css');
/* @import url('./css/main.css'); */
/* @import url('./css/variables.css'); */

body {
  font-family: var(--font-family), sans-serif;
  color: var(--black);
  background-color: var(--color);
}