@import url('./reset.css');
@import url('./font.css');
@import url('./root.css');
/* @import url('./css/main.css'); */
/* @import url('./css/variables.css'); */

body {
  font-family: var(--font-family), sans-serif;
  color: var(--black);
  background-color: var(--color);

  /* Відступи безпеки */
  padding-top: env(safe-area-inset-top);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
}