.support {
  padding-bottom: 0;
}

.support::before,
.support::after {
  display: none;
}

.support__container h2 {
  margin-bottom: 16px;
  max-width: 100%;
  text-align: center;
}

.support__description {
  text-align: center;
  margin-bottom: 16px;
}

.support__img {
  max-height: 71px;
}

.support__img ~ ul {
  display: none;
  position: relative;
}

@media screen and (min-width: 768px) {
  .support__img {
    max-height: 100%;
  }
}
