:root {
  /*шрифти*/
  --font-family: "Inter", sans-serif;
  --second-family: "Montserrat", sans-serif;
  --third-family: "Cocogoose Classic", sans-serif;
  --font3: "Roboto", sans-serif;
  --font4: "Circular Std", sans-serif;
  --font5: "Poppins", sans-serif;

  /* Кольори */
  --color: #fafafa;
  --color-2: #d7dce1;
  --color-3: #7d25f0;
  --color-4: #f35b09;
  --color-5: #f7941d;
  --color-6: #5a54f2;
  --color-6_1: #5d6491;
  --color-7: #272d4e;
  --color-8: #231f8b;
  --color-9: #737373;
  --color-10: #e74040;
  --color-10: #e1e1e1;
  --color-11: #ffba49;
  --color-12: #94a2b3;
  --black: #272d4e;
  --black-2: #231f20;

  /*  Тіні  */
  --shadow-1: 0px -8px 50% 0px #d7e4f9;
  --shadow-2: 0 18px 53px 0 rgba(215, 228, 249, 0.5);
  /*  image  */
  --shadow-3: -25px 20px 44px 0 rgba(84, 48, 209, 0.4);
  /*  button  */
  --shadow-4: 0 9px 20px -3px rgba(120, 84, 247, 0.33);
  /*  advantages card  */
  --shadow-5: 0 13px 19px 0 rgba(0, 0, 0, 0.07);
  /*  reviews section  */
  --shadow-6: inset 0 -16px 23px 0 rgba(255, 255, 255, 0.6);
  --shadow-7: 0 18px 53px 0 rgba(215, 228, 249, 0.5);
}
