:root {
  /*шрифти*/
  --font-family: "Inter", sans-serif;
  --second-family: "Montserrat", sans-serif;
  --third-family: "Cocogoose Classic", sans-serif;
  --font3: "Roboto", sans-serif;
  --font4: "Circular Std", sans-serif;
  --font5: "Poppins", sans-serif;

  /* Кольори */
  --color: #fff;
  --color-2: #94a2b3;
  --color-3: #7d25f0;
  --color-4: #f35b09;
  --color-5: #f7941d;
  --color-6: #5a54f2;
  --color-7: #272d4e;
  --black: #000;

  /*  Тіні  */
  --shadow-1: 0px -8px 50% 0px #d7e4f9;
  --shadow-2: 0 18px 53px 0 rgba(215, 228, 249, 0.5);
  /*  image  */
  --shadow-3: -25px 20px 44px 0 rgba(84, 48, 209, 0.4);
  /* --shadow-5: -25px 20px 44px 0 rgba(84, 48, 209, 0.4); */
  /*  button  */
  --shadow-4: 0 9px 20px -3px rgba(120, 84, 247, 0.33);
}
